@model IEnumerable<PAP_Fabio.Models.Utilizador>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p>&nbsp</p>
    <h4 class="display-4">Escola Secundária Padre Benjamim Salgado</h4>
    <p>&nbsp</p>
    <p>Esta APP tem o objetivo de melhorar e facilitar a vida aos alunos substituindo assim o <br />cartão da Escola por um código QR único para todos.</p>
</div>

