@model PAP_Fabio.Models.Utilizador
@{
    ViewData["Title"] = "Home";
}


<div class="text-center">
    <p>&nbsp</p>
    <h4 class="display-4">Ocorreu um Erro</h4>
    <p>&nbsp</p>
    <button class="btn btn-outline-success" type="submit" onclick="window.location.href = '/Home/Index'"> <i class="fa fa-error"></i> Voltar Atrás</button>





</div>
