@model PAP_Fabio.Models.Utilizador
@{
    ViewData["Title"] = "Editar Utilizador";
}

<div class="text-center">

    <p>&nbsp</p>
    <form asp-action="Editar">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="container">

            <div class="row col-12">



                <h1>Editar @Model.Nome</h1>

                <p>&nbsp</p>

                <div class="form-group col-12">
                    <label asp-for="ID" class="control-label"></label>
                    <input asp-for="ID" class="form-control" readonly />
                    <span asp-validation-for="ID" class="text-danger"></span>
                </div>

                <input asp-for="tipo" class="form-control" type="hidden" readonly />
                <input asp-for="codigoAluno" class="form-control" type="hidden" readonly />

                <div class="form-group col-12">
                    <label asp-for="Nome" class="control-label"></label>
                    <input asp-for="Nome" class="form-control" />
                    <span asp-validation-for="Nome" class="text-danger"></span>
                </div>

                <div class="form-group col-12">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <br />

                <div class="form-group col-12">
                    <input type="checkbox" asp-for="admin" class="form-control">
                    <label asp-for="admin"> Admin </label><br>
                    <span asp-validation-for="admin" class="text-danger"></span>
                </div>

                <div class="form-group col-12">

                    <button type="button" class="btn btn-primary btn-lg btn-block" style="background-color: #236954;" data-toggle="modal" data-target="#exampleModal">
                        <i class="fas fa-save"></i> Guardar Alterações
                    </button>

                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Editar Utilizador</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Tem a certeza que deseja alterar este utilizador?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                                    <button type="submit" href='Utilizadores/Criar/' class="btn btn-primary">Editar</button>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>



            </div>

        </div>

    </form>

</div>


