@model PAP_Fabio.Models.Editar

@{
    ViewData["Title"] = "Editar Utilizador";
}

<div class="text-center">

    <h1>Editar @this.User.Claims.Where(c => c.Type.Contains("givenname")).First().Value </h1>

    <form asp-action="Editar">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="container d-none d-lg-block">
            <div class="row col-12">
                
                <div class="col-8 row">
                    <div class="form-group col-12">
                        <label asp-for="ID_Aluno" class="control-label"></label>
                        <input type="text" asp-for="ID_Aluno" class="form-control" readonly />
                        <span asp-validation-for="ID_Aluno" class="text-danger"></span>
                    </div>
                    <div class="form-group col-12">
                        <label asp-for="Nome_Aluno" class="control-label"></label>
                        <input type="text" asp-for="Nome_Aluno" class="form-control" />
                        <span asp-validation-for="Nome_Aluno" class="text-danger"></span>
                    </div>
                    <div class="form-group col-12">
                        <label asp-for="Email_Aluno" class="control-label"></label>
                        <input type="email" asp-for="Email_Aluno" class="form-control" />
                        <span asp-validation-for="Email_Aluno" class="text-danger"></span>
                    </div>

                </div>
     
                <div class="form-group" style="width: 100%">
                    <button type="submit" class="btn btn-primary btn-lg btn-block">
                        <i class="fas fa-save"></i> Guardar Alterações
                    </button>
                    
                </div>
            </div>
        </div>

    </form>


</div>

