@model PAP_Fabio.Models.Utilizador
@{
    ViewData["Title"] = "Novo Utilizador";
}

<div class="text-center">

    <p>&nbsp</p>
    <form asp-action="Novo">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="container">

            <div class="row col-12">

                <h1>Novo Utilizador</h1>

                <p>&nbsp</p>

                <input asp-for="ID" class="form-control" type="hidden" readonly />

                <div class="form-group col-12">
                    <label asp-for="codigoAluno" class="control-label">Código</label>
                    <input asp-for="codigoAluno" class="form-control" required/>
                    <span asp-validation-for="codigoAluno" class="text-danger"></span>
                </div>

                <div class="form-group col-12">
                    <label asp-for="Nome" class="control-label"></label>
                    <input asp-for="Nome" class="form-control" required/>
                    <span asp-validation-for="Nome" class="text-danger"></span>
                </div>

                <div class="form-group col-12">
                    <label asp-for="Email" class="control-label"></label>

                    <input id="teste" name="teste" asp-for="Email" type="email" class="form-control" required />
                    
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <!--<div class="form-group col-6">
                    <label asp-for="Pass" class="control-label"></label>
                    <input type="text" asp-for="Pass" id="password" class="form-control" />
                    <span asp-validation-for="Pass" class="text-danger"></span>
                </div>-->

                <div class="form-group col-12">
                    <label asp-for="Pass" class="control-label">Password</label>
                    <input asp-for="Pass" type="password" class="form-control" required/>
                    <span asp-validation-for="Pass" class="text-danger"></span>
                </div>

                <div class="form-group col-12">
                    <label asp-for="tipo" class="control-label">Função</label>
                    <select asp-for="tipo" class="form-control" required>
                        <option></option>
                        <option value="1">Professor</option>
                        <option value="2">Funcionário</option>
                        <option value="3">Aluno</option>
                    </select>
                </div>

                <div class="form-group col-12">
                    <input type="checkbox" asp-for="admin" class="form-control">
                    <label asp-for="admin"> Administrador </label><br>
                    <span asp-validation-for="admin" class="text-danger"></span>
                </div>

                <div class="form-group col-12">


                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary btn-lg btn-block" style="background-color: #236954;" data-toggle="modal" data-target="#exampleModal">
                        <i class="fas fa-save"></i> Criar Novo Utilizador
                    </button>


                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Criar Utilizador</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Tem a certeza que deseja criar este utilizador?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                                    <button type="submit" href='Utilizadores/Criar/' class="btn btn-primary">Criar</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

               

        </div>

    </form>

</div>


