@model PAP_Fabio.Models.Utilizador
@{
    ViewData["Title"] = "Código QR";
}

<p>&nbsp</p>
<div class="text-center">
    <h4>Código QR de @this.User.Claims.Where(c => c.Type.Contains("givenname")).First().Value</h4>
</div>

<div class="text-center">
    <img src="@Model.codigoQR" width="70%" />
</div>
<div class="logo">
    <img src="img/logo_sdc.png" alt="logo" width="120" height="60" />
</div>
